<%= form_with(model: @user) do |form| %>
  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, User.roles.deep_dup.except(:customer).keys, {}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
