<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Assign new role</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= link_to 'Assign Role', edit_user_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Dashboard', dashboard_path %>
